html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  width: 400px;
  margin: 50px auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 30px;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 10px;
}

.text-field {
  width: 100%;
  height: 58px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #efeaea;
  border-radius: 10px;
  color: #1c2657;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.text-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.text-field:focus {
  border-radius: 10px;
}

.calculate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border-width: 0;
  background-color: #000f9f;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
}

.calculate-button:hover {
  background-color: #3f489c;
}

.calculate-button:focus {
  display: none;
}

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divider {
  width: 443px;
  margin-left: 0;
  margin-bottom: 25px;
}

.result {
  display: none;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 0;
  color: #333333;
}

.active {
  display: block;
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border-width: 0;
  background-color: red;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 50px;
}

.reset-button:hover {
  background-color: rgb(253, 80, 80);
}

.reset-button:focus {
  display: none;
}

.red-text {
  color: red;
}

.error {
  margin-top: 40px;
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
